.textColor{
    color: aliceblue;
}
.ccolor{
    background-color: #1b2129;
}
.sidebar-color-a{
    background-color: #1b2129;
    color: aliceblue;
}
.sidebar-color-a:hover{
  color: aquamarine;
}
.sidebar-color-b{
  background-color: #ccdae6;
  color: black;
}
.form-control{
  background-color: #ccdae6;
}
.form-select{
  background-color: #ccdae6;
}
body{
    background-color: #242c36;
  }


.log-btn{
  background-color: #ccdae6;
  color: black;
  font-weight: bold;
}
.log-btn:hover{
  background-color: #198754;
}
.movie-logo{
  height: 150px;
  width: 200px;
  margin-left: 140px;
  margin-bottom: 10px;
  margin-top: 30px;
}





  
  /* footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer-menu {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .footer-menu li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .footer-menu li:last-child {
    margin-right: 0;
  }
  
  .footer-menu a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-info {
    text-align: center;
    font-size: 14px;
  }
  
  .footer-info a {
    color: #fff;
    text-decoration: none;
  } */
